In [5]:
import numpy as np
my_list=[1,2,3,4,5]
my_numpy_list=np.array(my_list)
my_numpy_list#This line show the result of the array generated

array([1, 2, 3, 4, 5])

In [8]:
second_list=[[1,2,3],[5,4,1],[3,6,7]]
new_2d_arr=np.array(second_list)
new_2d_arr#This line show the result of the array generated

array([[1, 2, 3],
       [5, 4, 1],
       [3, 6, 7]])

In [20]:
my_list=np.arange(10)
my_list=np.arange(0,10)

In [19]:
my_list=np.arange(0,11,2)

In [77]:
my_zeros=np.zeros(7)

In [79]:
my_ones=np.ones(5)

In [80]:
two_d=np.zeros((3,5))

In [81]:
lin_arr =np.linspace(1,3,15)

In [82]:
my_matrix = np.eye(6) #6 is the number of columns/rows you want

In [83]:
my_rand=np.random.rand(4)

In [84]:
my_rand = np.random.rand(5,4)
my_rand

array([[0.95810673, 0.20426871, 0.72047214, 0.4243432 ],
       [0.65259219, 0.97281003, 0.62998173, 0.7333918 ],
       [0.93421602, 0.16056108, 0.72832354, 0.40022499],
       [0.26890687, 0.49147294, 0.33759999, 0.3297863 ],
       [0.02491764, 0.44646721, 0.50477938, 0.82033648]])

In [85]:
my_randn = np.random.randn(7)
my_randn

array([-0.33827089,  0.12026315, -0.66053748,  0.47668979,  0.5753873 ,
        0.42675719,  0.76365678])

In [86]:
np.random.randn(3,5)

array([[-1.06694237,  0.09053907,  0.4847862 , -2.17577554, -0.93685066],
       [-0.80111374,  1.58086849, -0.00606357,  1.61867012, -0.14056909],
       [-0.16375005, -0.37136554, -0.86490181,  0.37152851, -0.12553872]])

In [87]:
np.random.randint(20)
#generates a random integer exclusive of 20

11

In [88]:
np.random.randint(2,20)
#generates a random integer including 2 but excluding 20

12

In [89]:
np.random.randint(2,20,7)
#generates 7 random integers including 2 but excluding 20

array([10,  6,  3,  6,  7, 13, 11])

In [90]:
arr = np.random.rand(25)

In [91]:
arr.reshape(5,5)

array([[0.76448918, 0.07941913, 0.16760008, 0.51936355, 0.88063051],
       [0.5852785 , 0.54792118, 0.67653283, 0.74582021, 0.20856039],
       [0.19545021, 0.25019916, 0.90321444, 0.11709975, 0.39476046],
       [0.76884855, 0.23466915, 0.66056179, 0.18866181, 0.958664  ],
       [0.03661814, 0.62580834, 0.9558148 , 0.90776772, 0.94152392]])

In [92]:
arr_2=np.random.randint(0,20,10)
arr_2.max() #This gives the highest value in the array

19

In [93]:
arr_2.min() #This gives the lowest value in the array

1

In [94]:
arr_2.argmax() #This shows the index of the highest value in the array

2

In [95]:
arr_2.argmin() #This shows the index of the lowest value in the array

0

In [96]:
arr.shape

(25,)

In [97]:
my_array=np.arange(0,11)
my_array[8] #This gives us the value of element at index 8

8

In [98]:
my_array[2:6]#This returns everything from index 2 to 6 (exclusive)

array([2, 3, 4, 5])

In [99]:
my_array[:6] #This returns everything from index 0 to 6 (exclusive)

array([0, 1, 2, 3, 4, 5])

In [100]:
my_array[5:] #This returns everything from index 5 to the end of the array

array([ 5,  6,  7,  8,  9, 10])

In [101]:
two_d_arr=np.array([[10,20,30],[40,50,60],[70,80,90]])
two_d_arr[1][2] #The value of 60 appears is in row index 1, and column index 2

60

In [102]:
two_d_arr[0,1]

20

In [103]:
two_d_arr[:1, :2] #This returns [[10, 20]]

array([[10, 20]])

In [104]:
two_d_arr[:2, 1:] #This returns ([[20, 30], [50, 60]])

array([[20, 30],
       [50, 60]])

In [105]:
two_d_arr[:2, :2] #This returns ([[10, 20], [40, 50]])

array([[10, 20],
       [40, 50]])

In [106]:
new_arr = np.arange(5, 15)
new_arr > 10 #This returns TRUE where the elements are greater than 10 [False,False,False,False,False,False,True,True,True,True]}

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [107]:
bool_arr = new_arr > 10

new_arr[bool_arr] #This returns elements greater than 10 [11, 12, 13, 14]

array([11, 12, 13, 14])

In [108]:
new_arr[new_arr>10] #A shorter way to do what we have just done

array([11, 12, 13, 14])

In [109]:
new_arr[(new_arr>6) & (new_arr < 10)]

array([7, 8, 9])

In [110]:
my_array[0:3] = 50
#Result is: [50, 50, 50, 3, 4, 5, 6, 7, 8,9, 10]

In [111]:
arr = np.arange(1,11)
arr*arr
#Multiplies each element by itself

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [112]:
arr - arr
#Subtract each element from itself

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [113]:
arr + arr
#Adds each element to itself

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [114]:
arr / arr
#Divides each element by itself

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [115]:
arr + 50 #This adds 50 to every element in that array

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60])

In [116]:
np.sqrt(arr) #Returns the square root of each element

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766])

In [117]:
np.exp(arr) #Returns the exponentials of each element

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03, 2.20264658e+04])

In [118]:
np.sin(arr) #Returns the sin of each element

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427,
       -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849, -0.54402111])

In [119]:
np.cos(arr) #Returns the cos of each element

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362,  0.28366219,
        0.96017029,  0.75390225, -0.14550003, -0.91113026, -0.83907153])

In [120]:
np.log(arr) #Returns the logarithm of each element

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509])

In [121]:
np.sum(arr) #Returns the sum total of elements in the array

55

In [122]:
np.std(arr) #Returns the standard deviation of all element in the array

2.8722813232690143

In [123]:
mat = np.arange(1,26).reshape(5,5)

In [124]:
mat.sum() #Returns the sum of all the values in mat

325

In [125]:
mat.sum(axis=0) #Returns the sum of all the columns in mat

array([55, 60, 65, 70, 75])

In [126]:
mat.sum(axis=1) #Returns the sum of all the rows in mat

array([ 15,  40,  65,  90, 115])